.w3-bar {
    background-color: rgb(5, 35, 99); 
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
      background-image: url('images/istaisi.png');

    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}
.w3-bar-item.w3-button, 
.w3-dropdown-hover .w3-button {
    background-color: rgb(5, 35, 99) ; 
    color: white;
    padding: 14px 20px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    border-radius: 1px;
    box-shadow: 0px 4px 10px rgb(86, 130, 224);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.w3-bar-item.w3-button:hover, 
.w3-dropdown-hover .w3-button:hover {
    background-color: white;
    color: rgb(4, 4, 4);
}



      

/* Center the content boxes */
.container {
    display: flex;
    flex-direction: column; /* Stack boxes vertically */
    align-items: center; /* Center them horizontally */
    justify-content: center; /* Center them vertically if needed */
    min-height: 100vh; /* Ensure full viewport height */
}

/* Style for content boxes */
.content-box {
    width: 120%; /* Adjust width as needed */
    max-width: 1200px; /* Prevents being too wide on large screens */
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgb(86, 130, 224);
    padding: 20px;
    margin: 10px 0; /* Space between boxes */
    text-align: center;
   word-wrap: break-word; 
    overflow-wrap: break-word;
    white-space: normal; 
}
.h1 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 10px;
    background-color: rgb(5, 35, 99);
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgb(86, 130, 224);
    margin-top: 80px;
}


.w3-dropdown-hover {
    position: relative; /* Ensures dropdown aligns with button */
}

.w3-dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(5, 35, 99);
    min-width: 160px;
    box-shadow: 0px 4px 10px rgb(86, 130, 224);
    border-radius: 1px;
    z-index: 1; /* Ensures it appears above other elements */

     transform: translateX(-16px); /* Pārvieto pa kreisi par 20px */

}

/* Show dropdown on hover */
.w3-dropdown-hover:hover .w3-dropdown-content {
    display: block;
}

.w3-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 1px;
    transition: background 0.3s ease-in-out;
}

.w3-dropdown-content a:hover {
    background-color: white;
    color: black; 


