/* Navbar */
.w3-bar {
    background-color: rgb(5, 35, 99); 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar Button Styling */
.w3-bar-item.w3-button, 
.w3-dropdown-hover .w3-button{
    background-color: rgb(5, 35, 99);
    color: white;
    padding: 14px 20px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgb(86, 130, 224);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    min-width: 150px; /* Vari pielāgot platumu pēc nepieciešamības */
    text-align: center;
}

.w3-bar-item.w3-button:hover, 
.w3-dropdown-hover .w3-button:hover {
    background-color: white;
    color: rgb(4, 4, 4);
}

/* Dropdown Fix */
.w3-dropdown-hover {
    position: relative;
    display: inline-block;
}

.w3-dropdown-content {
    position: relative;
    right: 0 !important;
    /* Other styles */
}


/* Show dropdown on hover */
.w3-dropdown-hover:hover .w3-dropdown-content {
    display: block;
}

/* Dropdown Link Styling */
.w3-dropdown-content a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: background 0.3s ease-in-out;
}

.w3-dropdown-content a:hover {
    background-color: white;
    color: rgb(3, 2, 2);
}

/* Page Background */
body {
    background-image: url('images/backgw.png'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Content Boxes */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.content-box {
    width: 90%;
    max-width: 1200px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgb(86, 130, 224);
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    word-wrap: break-word;
}

.h1 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 10px;
    background-color: rgb(5, 35, 99);
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgb(86, 130, 224);
}

/* Adjust dropdown button background when clicked */
.w3-dropdown-content {
    background-color: rgb(5, 35, 99); /* To ensure proper styling of the dropdown */
}
